{{#resume.basics}}
<section class="profile-wrapper d-flex flex-column align-items-center">
  {{#if picture}}
  <div class="profile">
    <img src="{{picture}}" alt="" width="128" height="128" />
  </div>
  {{/if}}
  <div>
    <h1 class="name">{{name}}</h1>
    <h2 class="text-muted">{{label}}</h2>
  </div>
</section>
{{/resume.basics}}