{{#if resume.skills}}
<section class="skills-wrapper">
  <div class="detail">
    <h3 class="text-uppercase title"><i class="fa fa-code"></i>Skills</h3>

    <ul class="list-unstyled">
      {{#resume.skills}}
      <li class="detail-item">
        <div class="detail-item-content">
          <h4>
            <strong>{{name}}</strong>
            {{#if level}}
            <span class="text-muted">— {{level}}</span>
            {{/if}}
          </h4>

          {{#if keywords}}
          <ul class="list-inline">
            {{#keywords}}<li class="badge badge-pill keyword">{{.}}</li>{{/keywords}}
          </ul>
          {{/if}}
        </div>
      </li>
      {{/resume.skills}}
    </ul>
  </div>
</section>
{{/if}}