{{#if resume.basics.summary}}
<section class="summary-wrapper">
  <div class="detail">
    <h3 class="title text-uppercase"><i class="fa fa-user"></i>About</h3>
    <div class="detail-item">
      <p>{{resume.basics.summary}}</p>
    </div>
  </div>
</section>
{{/if}}